@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom reusable button styles */
@layer components {
  .tool-btn {
    @apply w-full bg-blue-400 text-white py-2 rounded-xl shadow hover:bg-blue-500 transition font-semibold;
  }

  .action-btn {
    @apply py-2 px-4 rounded-lg shadow cursor-pointer font-semibold transition;
  }

  .option-btn {
    @apply w-full bg-blue-500 text-white py-2 rounded-xl shadow hover:bg-blue-600 transition font-semibold;
  }
}
